.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  background-color: #1d1d2f !important;
  /* font-family: "Josefin Sans", sans-serif !important; */
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  color: rgb(250, 250, 250) !important;
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  color: rgb(250, 250, 250) !important;
}

.deceased {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  color: rgb(250, 250, 250) !important;
}

@media only screen and (max-width: 1395px) {
  .card {
    margin: 2% 0 !important;
  }
}
