@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

body {
  background-color: rgb(245, 245, 245);
  font-family: "Josefin Sans", sans-serif !important;
}

#heading1 {
  font-size: 4rem;
  font-family: "Teko", sans-serif;
  color: #ff5200;
}

#heading2 {
  font-size: 4rem;
  font-family: "Teko", sans-serif;
  color: #00263b;
}
.container {
  /* display: flex; */
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .logo {
    width: 100%;
  }
}
